.stlog-page-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.button {
    cursor: pointer;
}

.stlog-page-layout .main {
    padding-top: 140px;
    padding-bottom: 40px;

    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header {
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    text-align: center;
}

.header-title {
    font-size: 48px;
    padding: 21px 0;
    color: #f08313;
    font-weight: 600;
}

.stlog-input {
    background-color: #fff;
    width: 100%;
    min-width: 500px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}

.stlog-input textarea {
    padding: 16px;
    border-radius: 16px;
    height: 120px;
    background-color: #f2f2f2;
    border: none;
    resize: none;
    width: 100%;

    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.stlog-input textarea::placeholder {
    color: #b4b4b4;
    font-family: Inter;
}

.submit-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.submit-input {
    border-radius: 8px;
    border: 1px solid #000;
    padding: 0 16px;

    width: 213px;
    height: 33px;

    font-weight: 400;
    font-size: 16px;

    font-family: Inter;
}

.submit-container input::placeholder {
    color: #b4b4b4;
}

.submit-container button {
    background-color: #ffaa00;
    border: none;
    border-radius: 16px;
    padding: 13px 34.5px;

    font-size: 20px;
    font-weight: 600;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-container button:hover {
    background-color: #ffbb00;
    color: #333;
    cursor: pointer;
}

.stlog-item {
    background-color: #fff;
    padding: 30px 0;

    width: 224px;
    min-height: 224px;
    max-height: 300px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
}

.stlog-item .text {
    width: 164px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 11;
    word-break: break-all;
    overflow: hidden;

    text-align: center;
}

.stlog-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 20px;
}

.stlog-list .item-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.st-modal-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.st-modal-layout .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.st-modal-layout .modal-content {
    position: relative;
    z-index: 20;
    background-color: #fff;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.detail-modal-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.detail-modal-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    width: 100%;
}

.detail-modal-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 28;
    word-break: break-all;
    overflow: hidden;
}

.detail-modal-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.emotion {
    width: 144px;
    height: 80px;
    background-color: #dadada;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
}

.positive {
    background-color: #ccff9c;
}

.negative {
    background-color: #ffb7b7;
}

.detail-modal-bottom .delete-button {
    background-color: #ffb7b7;
    padding: 14px 15px;
    border-radius: 10px;
}

.emotion-result {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.small-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.small-modal-title {
    font-size: 32px;
    font-weight: 700;
}

.small-modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.small-modal-content-text {
    font-weight: 500;
}

.small-modal-button {
    width: 172px;
    height: 52px;
    border: none;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
}

.success {
    background-color: #ccff9c;
    color: #00ae17;
}

.fail {
    background-color: #ffb7b7;
    color: #f24822;
}
